# mac junk
*.DS_Store

# visual studio code junk
.vscode/
.vscode/settings.json

# emacs backups
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Enviroment 
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution
*.egg-info/
*.egg

# Mephisto data
mephisto-data/data/

# Node Stuff
node_modules/
package-lock.json
package.json

# Mephisto Stuff
outputs/
mephisto-src/tmp/


# Database secrets
database.py

